* {
  margin: 0;
  padding: 0;
}

.canvas {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: relative;
}

.github {
  position: absolute;
  z-index: 2;
  left: 2vw;
  bottom: 1vh;
  height: 10vh;
  width: 10vw;
}

.github > a > img {
  height: 7vh;
  width: 5vw;
}
.github > img:hover {
  cursor: pointer;
}
