* {
  margin: 0;
  padding: 0;
}

.canvas {
  width: 100vw;
  height: 100vh;
  z-index: 1;
  position: relative;
}

.github {
  position: absolute;
  z-index: 2;
  left: 2vw;
  bottom: 1vh;
  height: 10vh;
  width: 10vw;
}

.github > a > img {
  height: 7vh;
  width: 5vw;
}
.github > img:hover {
  cursor: pointer;
}

.navigation {
  position: absolute;
  z-index: 2;
  top: 2vh;
  left: 8vw;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}
.navigation > h1 {
  border: 2px solid orange;
  border-radius: 10%;
  color: orange;
  padding: 0.25em;
}
.navigation > h1:hover {
  cursor: pointer;
  border: 2px solid orange;
  border-radius: 10%;
  background-color: orange;
  color: black;
}
